.cards{
    display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.cardLink {
    text-decoration: none;
    display: block;
    color: inherit; /* Inherit color from parent */
  }

  .controlContainer{
    display: flex;
    justify-content: space-between;
   width: 100%;
   margin-top: 50px;
  }
  .select{
    background-color: white;
    border: none;
    outline: none;
    width: 20%;
    padding: 15px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .select option{
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 10px;
  }
.controlContainer input{
    width: 250px;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 12px;
    padding-left: 50px;
    border-radius: 5px;
  }
  .inputContainer{
    position: relative;
  }
  .serachIcon{
    position: absolute;
    top:25% ;
    left: 15px;
    color: rgba(0, 0, 0, 0.3);
  }