img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Optional: hides overflow */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light theme box shadow */

}
.image{
    height: 100%;
    width: 100%;
    flex: 1;
   
}
.card{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 70px;
    width: 250px;
    text-decoration: none;
    display: block;
   
    display: flex;
    flex-direction: column;
}
.text{
    padding: 0px 15px;
    height: 55%;
    flex: 1;
}